<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.animationoneinalldemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- Menu Activity -->
        <activity
            android:name=".MenuActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WallPaper Animation Demo -->
        <!-- WallPaper First Activity -->
        <activity
            android:name=".wallpaperAnimation.WpFirstActivity"
            android:launchMode="singleTask"
            android:theme="@style/WpFirstActivity" />

        <!-- WallPaper Second Activity -->
        <activity
            android:name=".wallpaperAnimation.WpSecondActivity"
            android:launchMode="singleTask"
            android:theme="@style/WpSecondActivity" />

        <!-- WallPaper Third Activity -->
        <activity
            android:name=".wallpaperAnimation.WpThirdActivity"
            android:launchMode="singleTask"
            android:theme="@style/WpThirdActivity" />

        <!-- Task Animation -->
        <!-- taskFirstActivity -->
        <activity
            android:name=".taskAnimation.taskFirstActivity"
            android:launchMode="singleTask"
            android:theme="@style/taskFirstActivity" />

        <!-- taskSecondActivity -->
        <activity
            android:name=".taskAnimation.taskSecondActivity"
            android:launchMode="singleInstance"
            android:theme="@style/taskSecondActivity" />

        <!-- taskThirdActivity -->
        <activity
            android:name=".taskAnimation.taskThirdActivity"
            android:launchMode="singleInstance"
            android:theme="@style/taskThirdActivity" />

        <!-- Activity Animation -->
        <!-- actFirstActivity -->
        <activity
            android:name=".activityAnimation.actFirstActivity"
            android:theme="@style/actFirstActivity" />
        <!-- actSecondActivity -->
        <activity
            android:name=".activityAnimation.actSecondActivity"
            android:theme="@style/actSecondActivity" />

        <!-- Window Animation -->
        <!-- windowFirstActivity -->
        <activity
            android:name=".windowAnimation.windowFirstActivity"
            android:theme="@style/windowFirstActivity">
        </activity>

        <!--Fragment Animation-->
        <activity
            android:name=".fragmentAnimation.fragmentFirstActivity"
            android:theme="@style/fragmentFirstActivity">
        </activity>
    </application>

</manifest>